@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;500;600;700;800&family=Monoton&family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fafafa;
  overflow-x: hidden;
}

.container {
  width: 75%;
  margin: auto;
}

button {
  background-color: transparent;
  border: none;
}

.title_4, .navbar .container .logo, #about_section .container, #works_section .container, #works_section .content .block .image .layer, #works_section .content .block a, #contact_section .container p span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .container, .navbar .container #menu, .navbar .container .list ul, .navbar .container .list div, #about_section .content .descreption, #contact_section .container .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hide {
  display: none !important;
}

.title_1 {
  position: absolute;
  z-index: -10;
  top: -10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-family: "Playfair Display", serif;
  font-size: 250px;
  font-weight: 700;
  color: #f0f0f0;
  text-transform: capitalize;
}

.title_2 {
  font-family: "Playfair Display", serif;
  font-size: 40px;
  line-height: 1.3;
  letter-spacing: 2px;
  font-weight: 500;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.title_4 {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-orientation: mixed;
  font-family: "Karla", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 8px;
}

.title_4 span {
  width: 2px;
  height: 40px;
  background-color: black;
  margin-bottom: 8px;
}

.body_1 {
  font-family: "Karla", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: gray;
}

.navbar {
  width: 100%;
  height: 100px;
  z-index: 100;
}

.navbar .container {
  height: 100%;
}

.navbar .container .logo {
  max-width: -webkit-min-content;
  max-width: -moz-min-content;
  max-width: min-content;
  font-family: "Monoton", cursive;
  font-size: 30px;
  padding: 8px 10px;
  background-color: black;
  color: white;
}

.navbar .container #menu {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 20px;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
  cursor: pointer;
}

.navbar .container #menu span {
  width: 30px;
  height: 2px;
  background-color: black;
}

.navbar .container #menu:hover {
  height: 25px;
}

.navbar .container .list {
  z-index: 20;
  position: fixed;
  top: 0;
  right: -400px;
  width: 400px;
  height: 100vh;
  background-color: white;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.navbar .container .list.show {
  right: 0px !important;
}

.navbar .container .list #hide-menu {
  background-color: black;
  padding: 10px;
  float: right;
  margin-bottom: 25%;
  color: #fafafa;
  font-size: 25px;
}

.navbar .container .list ul {
  width: 100%;
  height: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navbar .container .list ul a {
  font-family: "Karla", sans-serif;
  font-weight: 500;
  font-size: 18px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  color: black;
}

.navbar .container .list ul .list-item.active a, .navbar .container .list ul .list-item a:hover {
  color: #db7f8e;
}

.navbar .container .list div {
  padding: 50px;
}

.navbar .container .list div img {
  width: 30px;
  height: 30px;
}

#about_section {
  width: 100%;
  height: 100vh;
}

#about_section .container {
  height: 100%;
  position: relative;
}

#about_section .content h2 {
  font-family: "Playfair Display", serif;
  font-size: 40px;
  line-height: 1.3;
  letter-spacing: 2px;
  font-weight: 500;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#about_section .content .descreption {
  margin-top: 30px;
  width: 700px;
  gap: 30px;
}

#about_section .content .descreption button {
  border: 2px solid gray;
  padding: 10px 20px;
  margin-top: 20px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#about_section .content .descreption button a {
  color: gray;
  font-family: "Karla", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
}

#about_section .content .descreption button:hover {
  background-color: gray;
}

#about_section .content .descreption button:hover a {
  color: #fafafa;
}

#works_section {
  position: relative;
}

#works_section .container {
  height: 100%;
  position: relative;
  padding-top: 200px;
}

#works_section .container h2 {
  text-align: center;
}

#works_section .content .block {
  margin-top: 100px;
  width: 100%;
  overflow: hidden;
}

#works_section .content .block .image {
  width: 100%;
  height: 500px;
  background-image: url(./../image/img1.jpg);
  background-size: cover;
}

#works_section .content .block .image .layer {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#works_section .content .block .image .layer:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

#works_section .content .block .image .layer:hover h2 {
  scale: 1.1;
}

#works_section .content .block .image .layer h2 {
  padding: 40px;
  background-color: white;
}

#works_section .content .block p {
  margin: 20px 0;
}

#works_section .content .block a {
  font-family: "Karla", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: black;
  margin: 25px 0;
  float: right;
  gap: 20px;
}

#works_section .content .block a span {
  display: inline-block;
  width: 50px;
  height: 2px;
  background-color: black;
}

#contact_section {
  position: relative;
}

#contact_section .container {
  height: 100%;
  padding: 200px 0;
}

#contact_section .container h2 {
  text-align: center;
}

#contact_section .container .content {
  gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: self-start;
      -ms-flex-align: self-start;
          align-items: self-start;
  margin-top: 30px;
}

#contact_section .container p {
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

#contact_section .container p span {
  width: 20px;
  height: 20px;
  overflow: hidden;
  background-color: white;
  padding: 20px;
  border-radius: 50%;
}

#contact_section .container p span img {
  width: 20px;
  height: 20px;
}

#contact_section .container form {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#contact_section .container form input, #contact_section .container form textarea {
  outline: none;
  border: none;
  background-color: white;
  padding: 10px 20px;
  font-family: "Karla", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: gray;
  margin: 10px 0;
}

#contact_section .container form button {
  background-color: #db7f8e;
  max-width: -webkit-min-content;
  max-width: -moz-min-content;
  max-width: min-content;
  padding: 10px 30px;
  color: #fafafa;
  font-family: "Karla", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1.5;
}

footer {
  background-color: black;
  padding: 20px;
}

footer .container {
  text-align: center;
}

@media (max-width: 950px) {
  .container {
    width: 90%;
  }
}

@media (max-width: 790px) {
  .title_1 {
    font-size: 150px;
  }
  #about_section .container .descreption {
    width: 100%;
  }
  #contact_section .container form {
    min-width: 400px;
  }
}

@media (max-width: 512px) {
  .title_1 {
    font-size: 100px;
    top: 100px;
  }
  .title_2 {
    font-size: 25px;
  }
  #works_section .block .image {
    height: 300px !important;
  }
}

@media (max-width: 450px) {
  #about_section .container .descreption {
    gap: 10px;
  }
  .navbar .list {
    right: -500px !important;
    width: 100% !important;
  }
  #contact_section .container form {
    min-width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */